<div class="row">
    <div class="col s12 m6">


        <ul class="collapsible">
            <li>

                <div class="collapsible-header"><i class="material-icons">add_circle</i>Default WordPress rules</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <blockquote>
                            <pre><a href="{{~defaultRules~}}" class="collection-item gray"
                            onclick="copyURI(event)">{{defaultRules}}</a></pre>
                        </blockquote>
                    </div>
                </div>

            </li>
            <li>

                <div class="collapsible-header"><i class="material-icons">add_circle</i>Content Security Policy</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <blockquote>
                            <pre><a href="{{upgradeMixedContent}}" class="collection-item"
                            onclick="copyURI(event)">{{upgradeMixedContent}}</a></pre>
                        </blockquote>

                    </div>
                </div>

            </li>
            <li>

                <div class="collapsible-header"><i class="material-icons">add_circle</i>CORS</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <blockquote>
                            <pre><a href="{{cors}}" class="collection-item"
                            onclick="copyURI(event)">{{cors}}</a></pre>
                        </blockquote>
                    </div>
                </div>

            </li>
            <li>

                <div class="collapsible-header"><i class="material-icons">add_circle</i>Dynamic Timeout for WordPress
                </div>
                <div class="collapsible-body">
                    <div class="collection">
                        <blockquote>
                            <pre><a href="{{wordpressTimeout}}" class="collection-item"
                            onclick="copyURI(event)">{{wordpressTimeout}}</a></pre>
                        </blockquote>
                    </div>
                </div>

            </li>
            <li>

                <div class="collapsible-header"><i class="material-icons">add_circle</i>Dynamic Timeout (index.php)
                </div>
                <div class="collapsible-body">
                    <div class="collection">
                        <blockquote>
                            <pre><a href="{{othersTimeout}}" class="collection-item"
                            onclick="copyURI(event)">{{othersTimeout}}</a></pre>
                        </blockquote>
                    </div>
                </div>

            </li>

        </ul>

    </div>